# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.packages
.pub-cache/
.pub/
/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android specific
android/.gradle/
android/captures/
android/.idea/
android/local.properties
*.iml
/android/app/debug
/android/app/profile
/android/app/release

# iOS/macOS specific
ios/.generated/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/DerivedData/

macos/Pods/
macos/.symlinks/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/Runner.xcworkspace/
macos/DerivedData/

# Web
web/generated/

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Secret files
.env

# Crash symbol / obfuscation related
app.*.symbols
app.*.map.json

# Coverage
coverage/
